{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse email existe, un email contenant un lien de réinitialisation de votre mot de passe vous sera envoyé dans les prochaines minutes. Ce lien expirera dans une heure.
    </p>
    <p>Si vous n'avez pas reçu d'email dans les prochaines minutes, pensez à vérifier vos courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
