{% extends 'base.html.twig' %}

{% block body %}
    <h2>page de gestion du profil</h2>
    <div>
        {{ form(profilForm) }}
    </div>
    <div>
        <img src="/photos/{{ stagiaire.image }}">
    </div>

{% endblock %}

