{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <article>
        <h2>Page d'administration du site Bando</h2><br>
        <p>Vous pouvez visualiser/créer/modifier/supprimer :</p>
        <ul>
            <li>Des Campus</li>
            <li>Des Villes</li>
            <li>Des Lieux</li>
            <li>Des Stagiaires</li>
        </ul>
    </article>
{% endblock %}