{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <h1>Oups ! Une erreur s'est produite</h1>

    <p>
        <a href="{{ path('_creer-sortie') }}">Réessayer</a>
    </p>
{% endblock %}


