@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('./materialize.css');

$bg: #fff;

$light-pink: #26a59a;
$pink: #096961;
$dark-pink: #74b0b7;
$pink-border: #108a7d;
$pink-shadow: #dae5e7;

$text: #382b22;
$light-blue: #ffd000;
$blue: #dea100;
$dark-blue: #f8d437;
$blue-border: #b69609;
$blue-shadow: #fae498;

//Nav BAR
* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  margin: auto;
  min-height: 100vh;
  background: $bg;
}

#container_main {
  display: flex;
  margin: 50px;
  max-width: 1400px;
}

#nav_bar {
  position: sticky;
  align-self: flex-start;
  top: 50px;
  max-width: 180px;
  padding: 10px;
  margin-left: 30px;
  border: 1px dotted #c4c3c3;
  border-radius: 10%;
  background-color: white;
}

#menu_nav_bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.eject {
  width: 30px;
}

.titre_company {
  font-size: 2rem;
  font-family: 'Zen Dots', cursive;
  margin: auto;
  padding-top: 20px;
}

.sous_titre_company {
  font-size: 1rem;
  margin: auto;
  font-family: 'Zen Dots', cursive;
}

.dollar {
  color: #312f2f;
  font-size: 0.75rem;
}

main {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

//bandeau header
.bandeauBonjour {
  background-color: $pink-shadow;
  width: 300px;
  height: 10%;
  color: black;
  padding-left: 5px;
  margin-left: 3px;
}

.champFlash {
  background-color: $blue-shadow;
  width: 45vw;
}

.messageFlash {
  font-style: italic;
  color: black;
  padding: 5px;
}

footer {
  padding: 60px;
  background-color: $pink-shadow;
  color: black;
}

.contenuFooter {
  margin-left: 30px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  margin-right: 10px;
  margin-top: 12px;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  flex-grow: 4;

  &.touches_active {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 0.75em 1.75em;
    background: $light-blue;
    border: 2px solid $blue-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 60%;
      background: $dark-blue;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $blue-border, 0 0.625em 0 0 $blue-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    &:hover {
      background: $blue;
      transform: translate(0, 0.25em);
      color: #fdfdfd;

      &::before {
        box-shadow: 0 0 0 2px $blue-border, 0 0.5em 0 0 $blue-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }

    &:active {
      background: $blue;
      transform: translate(0em, 0.75em);

      &::before {
        box-shadow: 0 0 0 2px $blue-border, 0 0 $blue-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }

  &.touches_inactive {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 0.75em 1.75em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 60%;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      color: #ffffff;

      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }

    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);

      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

//Page modification Profil
.button_set {
  display: flex;
  align-content: center;
  margin-top: 30px;
}

.form {
  margin-bottom: 30px;
}

.titre_modification_profil {
  margin: 0;
  margin-bottom: 30px;
  font-size: 3em;
}

.photo_stagiaire {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}

//Page listes sorties
.titre_listes_sorties {
  margin: 0;
}

.icon_sorties {
  display: flex;
}

.btn-floating blue {
  margin-top: 30px;
}

.creer_sortie {
  margin-top: 20px;
}

#btn_affiche, #btn_remove, #btn_modify, #btn_add, #btn_annuler {
  margin-right: 10px;
}

td, th {
  text-align: center;
}

#nom_sortie {
  text-align: left;
}

#cb_sortie_passes, #cb_sortie_non_inscrit, #cb_sortie_inscrit, #cb_sortie_organisateur {
  display: flex;
}

#cb_sortie_passes label, #cb_sortie_non_inscrit label, #cb_sortie_inscrit label, #cb_sortie_organisateur label {
  margin-left: 10px;
  font-size: 1.3em;
}

#filtres {
  margin-top: 20px;
}

#update_etats {
  display: flex;
}

#update_icon {
  font-size: 3rem;
}

#sorties_complete {
  color: #e74d4d;
  font-weight: bolder;
}


//page de création/modification des sorties
.GestionDesLieu {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.boutonEcranCreerSortie , .btnCreerLieu , .btnAnnulerSortie , .btnModifProfil{
  margin-top: 5%;
}

.pagination {
  font-size: 20px;
}


//Page info sorties
#titre_participants {
  font-size: 2em;
  text-align: left;
}

#nom_participants {
  text-align: left;
}

.libSortie {
  font-style: italic;
  font-size: larger;
}

.detailSortie {
  margin: 5px;
  border: 3px solid $blue;
}

.zoneRecherche {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5px;
  border: 2px solid $blue-shadow;
  width: 80%;
  height: 30%;
}

.libDonneesSortie {
  color: $pink;
  margin-left: 10%;
}

//test pigeon
//@charset "UTF-8";
:root {
  --bgColor: #DCDCDC;
  --birdColor: #5E7D82;
  --tailColor: #383048;
  --eyesColor: #fff;
  --pupilsColor: #413A50;
  --legsColor: #EEBE24;
  --noseColor: #EEBE24;
  --knifeColor: #91C1C6;
  --white: #fff;
  --visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  position:sticky;
  top:240px;
  left:-500px;
  z-index: -2;
  width: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50px 19px;
  transform: scale(50%);

}

.bird {
  width: 194px;
  height: 330px;
  position: relative;
  top: 26px;
  left: -320px;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-name: moveBird;
  animation-play-state: paused;
}

.head {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 0;
  left: 73px;
  background-color: var(--birdColor);
  border-radius: 50%;
  z-index: 6;
}

.face {
  position: relative;
}

.eye {
  position: absolute;
  width: 42px;
  height: 42px;
  animation-name: changeZIndex;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.eye_right {
  left: -29px;
  top: 23px;
}

.eye_left {
  left: 1px;
  top: 23px;
  animation-direction: reverse;
  animation-play-state: paused;
}

.eye__inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--eyesColor);
  border-radius: 50%;
  overflow: hidden;
  animation-name: moveEyes;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.eye__inner_right::before, .eye__inner_left::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--birdColor);
  transform: translateY(-100%);
  z-index: 5;
  animation-name: blinkTopEyelid;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.eye__inner_right::after, .eye__inner_left::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--birdColor);
  transform: translateY(100%);
  z-index: 5;
  animation-name: blinkBottomEyelid;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.eye__pupil {
  position: absolute;
  top: 18px;
  left: 27%;
  width: 15px;
  height: 15px;
  background-color: var(--pupilsColor);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 4;
  animation-name: movePupils;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.nose {
  width: 45px;
  height: 24px;
  position: absolute;
  top: 48px;
  right: 34px;
  background-color: var(--noseColor);
  z-index: 2;
  border-radius: 77% 23% 25% 75%/55% 52% 48% 45%;
  transform: scaleX(1);
  transform-origin: right center;
  animation-name: moveNose;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.body-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.body1 {
  position: absolute;
  width: 65px;
  height: 190px;
  right: 73px;
  top: 28px;
  transform: skew(-3deg, 0deg);
  background-color: var(--birdColor);
  border-radius: 190px 0 0 0;
  animation-play-state: paused;
}

.body2 {
  position: absolute;
  width: 49px;
  height: 215px;
  left: 36px;
  top: 13px;
  transform: skew(-21deg, 0deg);
  border-radius: 8px 10px 0 53px;
  background-color: var(--birdColor);
  animation-play-state: paused;
}

.body3 {
  position: absolute;
  width: 104px;
  height: 73px;
  left: 10px;
  bottom: 63px;
  border-radius: 0 0 0 73px;
  background-color: var(--birdColor);
  animation-play-state: paused;
}

.body3::after {
  content: "";
  position: absolute;
  display: block;
  width: 87px;
  height: 77px;
  top: 5px;
  right: -46px;
  transform: rotate(-69deg);
  background-color: var(--birdColor);
  border-radius: 0 0 13px 80px;
  animation-play-state: paused;
}

.leg {
  position: absolute;
  width: 13px;
  height: 79px;
  bottom: 10px;
  transform: rotate(-19deg);
  border-radius: 10px;
  animation-play-state: paused;
}

.leg_left {
  right: 90px;
  background-color: var(--legsColor);
  z-index: 2;
}

.leg_right {
  right: 106px;
  background-color: #d8a911;
}

.tail {
  position: absolute;
  width: 58px;
  height: 58px;
  right: 25px;
  bottom: 103px;
  background-color: var(--tailColor);
  border-radius: 0 14% 100% 0;
  transform: rotate(-45deg) translateY(6px);
  animation-name: moveTail;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.pseudo-knife {
  width: 250px;
  height: 220px;
  position: absolute;
  top: 60px;
  left: -43px;
  transform-origin: 86px 111px;
  opacity: 0;
  animation-name: pseudoKnifeRotate;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.pseudo-knife__blade {
  width: 250px;
  height: 220px;
  position: absolute;
  border-radius: 50%;
  clip-path: polygon(50% 58%, 15% 0, 88% 0);
  background: radial-gradient(var(--knifeColor) 25%, var(--white) 25% 45%, var(--knifeColor) 45% 100%);
  transform: rotate(-153deg);
  animation-play-state: paused;
}

.pseudo-knife__handle {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 75px;
  top: 45px;
  border-radius: 50%;
  clip-path: polygon(50% 58%, 15% 0, 88% 0);
  background: var(--pupilsColor);
  transform: rotate(20deg);
  animation-play-state: paused;
}

.knife {
  position: absolute;
  top: 67px;
  left: -9px;
  transform: rotate(-14deg);
  opacity: 0;
  animation-name: showKnife;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.knife::before {
  content: "✦";
  position: absolute;
  top: -13px;
  right: -8px;
  color: var(--white);
  font-size: 20px;
  transform: scale(1);
  z-index: 16;
  animation-name: bladeFlare;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-delay: 2.5s;
  animation-play-state: paused;
}

.knife__blade {
  position: relative;
  width: 22px;
  height: 86px;
  background-color: #91C1C6;
  border-radius: 92% 6% 0 100%/100% 6% 94% 0;
  overflow: hidden;
  animation-play-state: paused;
}

.knife__blade::after {
  content: "";
  display: block;
  width: 80px;
  height: 20px;
  position: absolute;
  top: 40%;
  left: -50%;
  right: -50%;
  transform: rotate(-30deg);
  background-color: var(--white);
  z-index: 10;
  animation-name: bladeBlink;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-play-state: paused;
}

.knife__handle {
  width: 53px;
  height: 13px;
  background: #383048;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
  border-radius: 25px;
  animation-play-state: paused;
}

.knife__handle::after {
  content: "";
  width: 21px;
  height: 43px;
  background: #383048;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 20px 20px;
  animation-play-state: paused;
}

@keyframes moveBird {
  0% {
    transform: translate(50%, +50%);
  }
  50% {
    transform: translate(100%, +200%);
  }
  0% {
    transform: translate(10%, +50%);
  }
}

@keyframes blinkTopEyelid {
  0% {
    transform: translateY(-100%);
  }
  8% {
    transform: translateY(-100%);
  }
  10% {
    transform: translateY(-50%);
  }
  12% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-100%);
  }
  28% {
    transform: translateY(-50%);
  }
  30% {
    transform: translateY(-65%);
  }
  75% {
    transform: translateY(-65%);
  }
  77% {
    transform: translateY(-50%);
  }
  79% {
    transform: translateY(-100%);
  }
  92% {
    transform: translateY(-100%);
  }
  95% {
    transform: translateY(-50%);
  }
  98% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes blinkBottomEyelid {
  0% {
    transform: translateY(100%);
  }
  8% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(50%);
  }
  12% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(100%);
  }
  28% {
    transform: translateY(50%);
  }
  30% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(100%);
  }
  77% {
    transform: translateY(50%);
  }
  79% {
    transform: translateY(100%);
  }
  92% {
    transform: translateY(100%);
  }
  95% {
    transform: translateY(50%);
  }
  98% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes changeZIndex {
  0% {
    z-index: 2;
  }
  74% {
    z-index: 2;
  }
  75% {
    z-index: 4;
  }
  99% {
    z-index: 4;
  }
  100% {
    z-index: 2;
  }
}

@keyframes moveEyes {
  0% {
    transform: translateX(0);
  }
  38% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(20%);
  }
  74% {
    transform: translateX(20%);
  }
  75% {
    transform: translateX(80%);
  }
  90% {
    transform: translateX(80%);
  }
  98% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes movePupils {
  0% {
    left: 27%;
  }
  12% {
    left: 27%;
  }
  15% {
    left: 59%;
  }
  19% {
    left: 59%;
  }
  22% {
    left: 27%;
  }
  35% {
    left: 27%;
  }
  40% {
    left: 55%;
  }
  90% {
    left: 55%;
  }
  100% {
    left: 27%;
  }
}

@keyframes moveTail {
  0% {
    transform: rotate(-45deg) translateY(6px);
  }
  44.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  45.5% {
    transform: rotate(-3deg) translate(6px, 21px);
  }
  46% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  46.5% {
    transform: rotate(-63deg) translate(7px, 1px);
  }
  47% {
    transform: rotate(-55deg) translate(0, 6px);
  }
  47.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  48% {
    transform: rotate(-10deg) translate(5px, 17px);
  }
  48.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  49% {
    transform: rotate(-50deg) translate(9px, 5px);
  }
  49.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  94.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  95.5% {
    transform: rotate(-3deg) translate(6px, 21px);
  }
  96% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  96.5% {
    transform: rotate(-63deg) translate(7px, 1px);
  }
  97% {
    transform: rotate(-55deg) translate(0, 6px);
  }
  97.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  98% {
    transform: rotate(-10deg) translate(5px, 17px);
  }
  98.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  99% {
    transform: rotate(-50deg) translate(9px, 5px);
  }
  99.5% {
    transform: rotate(-45deg) translate(0, 6px);
  }
  100% {
    transform: rotate(-45deg) translate(0, 6px);
  }
}

@keyframes showKnife {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bladeBlink {
  0% {
    transform: rotate(-30deg) translateY(0s);
  }
  100% {
    transform: rotate(-30deg) translateY(-38px);
  }
}

@keyframes bladeFlare {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes pseudoKnifeRotate {
  0% {
    opacity: 0;
    transform: rotate(-600deg);
  }
  33% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: rotate(-600deg);
  }
  44% {
    opacity: 1;
    transform: rotate(120deg);
  }
  45% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: rotate(180deg);
  }
  85% {
    opacity: 1;
    transform: rotate(-375deg);
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-375deg);
  }
}

@keyframes moveNose {
  0% {
    border-radius: 77% 23% 25% 75%/55% 52% 48% 45%;
    transform: scaleX(1) rotate(0deg);
  }
  39.5% {
    border-radius: 77% 23% 25% 75%/55% 52% 48% 45%;
    transform: scaleX(1) rotate(0deg);
  }
  40% {
    transform: scaleX(0.67) rotate(0deg);
    border-radius: 71% 29% 50% 58%/70% 30% 70% 30%;
  }
  74% {
    transform: scaleX(0.67) rotate(0deg);
    border-radius: 71% 29% 50% 58%/70% 30% 70% 30%;
    z-index: 2;
  }
  74.5% {
    border-radius: 77% 23% 25% 75%/55% 52% 48% 45%;
    transform: scaleX(1) rotate(186deg);
    z-index: 3;
  }
  99% {
    border-radius: 77% 23% 25% 75%/55% 52% 48% 45%;
    transform: scaleX(1) rotate(186deg);
    z-index: 3;
  }
  100% {
    border-radius: 77% 23% 25% 75%/55% 52% 48% 45%;
    transform: scaleX(1) rotate(0deg);
    z-index: 2;
  }
}



//background
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}