<div> <label>Rue : </label><label>{{ lieu.rue }}</label></div>
<div> <label>code postal : </label><label>{{ lieu.ville.codePostal }}</label></div>
<div> <label>Longitude : </label><label>{{ lieu.longitude }}</label></div>
<div> <label>Latitude : </label><label>{{ lieu.latitude }}</label></div>
