<label for="choixLieux"> Lieu
    <select id="choixLieux" name="choixLieux"  required onchange="afficherUnLieu(value)">
        {% if lieux %}
            <option  disabled selected>choisissez un lieu ...</option>
            {% for lieu in lieux %}
                <option value="{{ lieu.id }}"> {{ lieu.nom }}</option>
            {% endfor %}
        {% else %}
            <option  disabled selected>aucun lieu pour cette ville...</option>
        {% endif %}
    </select>
</label>
<a href="{{ path('creer_lieu') }}"><input type="button" name="creerLieu" value="++" ></a>

