{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>Document</title>#}
{#</head>#}
{#<body>#}
<label for="choixLieux"> Lieu
    <select id="choixLieux" name="choixLieux"  required onchange="afficherUnLieu(value)">
        {% if lieux %}
            <option  disabled selected>choisissez un lieu ...</option>
            {% for lieu in lieux %}
                <option value="{{ lieu.id }}"> {{ lieu.nom }}</option>
            {% endfor %}
        {% else %}
            <option  disabled selected>aucun lieu pour cette ville...</option>
        {% endif %}
    </select>
</label>
<a href="{{ path('creer_Lieu') }}"><input type="button" name="creerLieu" value="+" ></a>

{#<script>#}
{#    document.addEventListener('DOMContentLoaded', function() {#}
{#        var elems = document.querySelectorAll('select');#}
{#        var instances = M.FormSelect.init(elems, "");#}
{#    });#}
{#</script>#}
{#</body>#}
{#</html>#}

